<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Teruel</key>
	<array>
		<dict>
			<key>campo</key>
			<string>Campo2</string>
			<key>golpes</key>
			<integer>2</integer>
			<key>hoyo</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>campo</key>
			<string>Campo2</string>
			<key>golpes</key>
			<integer>2</integer>
			<key>hoyo</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>campo</key>
			<string>Campo2</string>
			<key>golpes</key>
			<integer>2</integer>
			<key>hoyo</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>campo</key>
			<string>Campo2</string>
			<key>golpes</key>
			<integer>2</integer>
			<key>hoyo</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>campo</key>
			<string>Campo2</string>
			<key>golpes</key>
			<integer>2</integer>
			<key>hoyo</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>campo</key>
			<string>Campo2</string>
			<key>golpes</key>
			<integer>2</integer>
			<key>hoyo</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>campo</key>
			<string>Campo2</string>
			<key>golpes</key>
			<integer>2</integer>
			<key>hoyo</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>campo</key>
			<string>Campo2</string>
			<key>golpes</key>
			<integer>2</integer>
			<key>hoyo</key>
			<integer>8</integer>
		</dict>
	</array>
	<key>Murcia</key>
	<array>
		<dict>
			<key>campo</key>
			<string>Murcia</string>
			<key>golpes</key>
			<integer>2</integer>
			<key>hoyo</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>campo</key>
			<string>Campo2</string>
			<key>golpes</key>
			<integer>2</integer>
			<key>hoyo</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>campo</key>
			<string>Campo2</string>
			<key>golpes</key>
			<integer>2</integer>
			<key>hoyo</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>campo</key>
			<string>Campo2</string>
			<key>golpes</key>
			<integer>2</integer>
			<key>hoyo</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>campo</key>
			<string>Campo2</string>
			<key>golpes</key>
			<integer>2</integer>
			<key>hoyo</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>campo</key>
			<string>Campo2</string>
			<key>golpes</key>
			<integer>2</integer>
			<key>hoyo</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>campo</key>
			<string>Campo2</string>
			<key>golpes</key>
			<integer>2</integer>
			<key>hoyo</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>campo</key>
			<string>Campo2</string>
			<key>golpes</key>
			<integer>2</integer>
			<key>hoyo</key>
			<integer>8</integer>
		</dict>
	</array>
	<key>Madrid</key>
	<array>
		<dict>
			<key>campo</key>
			<string>Madrid</string>
			<key>golpes</key>
			<integer>2</integer>
			<key>hoyo</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>campo</key>
			<string>Campo2</string>
			<key>golpes</key>
			<integer>2</integer>
			<key>hoyo</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>campo</key>
			<string>Campo2</string>
			<key>golpes</key>
			<integer>2</integer>
			<key>hoyo</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>campo</key>
			<string>Campo2</string>
			<key>golpes</key>
			<integer>2</integer>
			<key>hoyo</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>campo</key>
			<string>Campo2</string>
			<key>golpes</key>
			<integer>2</integer>
			<key>hoyo</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>campo</key>
			<string>Campo2</string>
			<key>golpes</key>
			<integer>2</integer>
			<key>hoyo</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>campo</key>
			<string>Campo2</string>
			<key>golpes</key>
			<integer>2</integer>
			<key>hoyo</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>campo</key>
			<string>Campo2</string>
			<key>golpes</key>
			<integer>2</integer>
			<key>hoyo</key>
			<integer>8</integer>
		</dict>
	</array>
</dict>
</plist>
